<head>
    <title><%= `Message from ${message.user}` %></title>
</head>
<body>
    <div>
        <div>
            <div><%= message.user %></div>
            <div><%= message.added %></div>
        </div>
        <span>
            <%= message.text %>
        </span>
    </div>
    <a href="/">Return</a>
</body>